/* Selector universal */
* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}



/* Fonts con url */
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')*/
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  /* Defino la variable */
  --rojo: #9f3647;
  --texto-blanco: #ffffff;
  --fondo-negro: #181419;
  background-color: var(--fondo-negro);
  color:var(--texto-blanco)
}

.texto-blanco {
  color: var(--texto-blanco);
}




/* Main */
/*Parte_arriba*/
.parte_arriba{
  height: 710px;
  background-image: linear-gradient(to right top, #0000008a, #0000008a),
    url(../assets/portadasPelis/garfield_fondo.jpg);
  background-size: cover;
  background-position: center;
}
.parte_arriba img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.division_arriba{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portada_peli{
  width: 200px;
  padding: 20px 0;
}
.info_peli{
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
  padding: 0 10px;
}

/*Parte_abajo*/
.parte_abajo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video_container{
  padding-top: 20px;
}
.video_avance{
  padding-top: 10px;
}
.redes_sociales{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 0 10px;
}
.redes_sociales a{
  color:var(--texto-blanco);
  text-decoration: none;
}
.loguitos{
  display: flex;
  justify-content:space-between;
  font-size: 40px;
  padding-bottom: 4vh;
}
.info_titulo{
  padding-left: 15px;
  text-decoration:underline;
}
.info_tabla{
  border-collapse: separate;
  border-spacing: 15px;
  padding-bottom: 40px;
}
.rojizo{
  color: var(--rojo);
  font-weight: bold;
  font-size: 18px;
}
/* FIN del Main*/
