/* Selector universal */
* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Fonts con url */
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')*/
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  /* Defino la variable */
  --rojo: #9f3647;
  --texto-blanco: #ffffff;
  --fondo-negro: #181419;
  background-color: var(--fondo-negro);
  color:var(--texto-blanco)
}

/* Header*/
.barra_de_arriba {
  background-color: var(--rojo);
  height: 14vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 999;
}
.header_logo {
  text-decoration: none;
  display: flex;
  padding-top: 2vh;
}
.header_menu {
  display: flex;
  gap: 8px;
  padding-top: 2vh;
}

/* Animación del botón para que baile*/
.boton_CAC-movies:hover {
  animation: shaking 2s infinite;
}
@keyframes shaking {
  10% {
    transform: scale(1.05) rotate(5deg);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg);
  }
  40% {
    transform: none;
  }
}

.aRojo:hover {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.header_menu a {
  text-decoration: none;
  color: var(--texto-blanco);
}
.header_logo_link {
  color: var(--texto-blanco);
  text-decoration: none;
}
.botones_header {
  background: var(--rojo);
  padding: 13px;
  border-radius: 5px;
}
.botones_header:hover {
  background-color: var(--rojo);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
#header_iniciar_sesion {
  background: var(--fondo-negro);
  border-radius: 5px;
  font-size: 1rem;
  width: 14vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14vw;
  min-height: 6vh;
  max-width: 14vw;
  max-height: 6vh;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
#header_iniciar_sesion:hover {
  background-color: var(--rojo);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

/* Main */
/*Parte_arriba*/
.parte_arriba{
  height: 710px;
  background-image: linear-gradient(to right top, #0000008a, #0000008a),
    url(../assets/portadasPelis/garfield_fondo.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}
.parte_arriba img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.division_arriba{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portada_peli{
  width: 200px;
  padding: 20px 0;
}
.info_peli{
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: justify;
  padding: 0 10px;
}

/*Parte_abajo*/
.parte_abajo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video_container{
  padding-top: 20px;
}
.video_avance{
  padding-top: 10px;
}
.redes_sociales{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 0 10px;
}
.redes_sociales a{
  color:var(--texto-blanco);
  text-decoration: none;
}
.loguitos{
  display: flex;
  justify-content:space-between;
  font-size: 40px;
  padding-bottom: 4vh;
}
.info_titulo{
  padding-left: 15px;
  text-decoration:underline;
}
.info_tabla{
  border-collapse: separate;
  border-spacing: 15px;
  padding-bottom: 40px;
}
.rojizo{
  color: var(--rojo);
  font-weight: bold;
  font-size: 1px;
}
/* FIN del Main*/

/* Inicio del FOOTER */
.footer {
  background-color: var(--rojo);
  padding-bottom: 12vh;
  padding-top: 12px;
  height: auto;
  display: flex;
  justify-content: center;
}
.footer_menu {
  height: 5vh;
  display: block;
  text-align: center;
  
}
.footer_menu a {
  padding-left: 1vh;
  padding-right: 1vh;
  text-decoration: none;
  color: var(--texto-blanco);
  display: block;
  margin-bottom: 0.5vh;
}
#footer_administrador_peliculas {
  background: #181419;
  border-radius: 5px;
  padding: 1vh;
  font-size: 1rem;
}
/* FIN del FOOTER */

/*Media queries para Monitores (BARRA de arriba)*/
@media screen and (min-width: 769px) {
  .barra_de_arriba {
    background-color: var(--rojo);
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 999;
  }
  .header_logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    padding-top: 2vh;
  }
  .header_menu {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5vw;
    padding-top: 2vh;
    gap: 40px;
  }
  .botones_header {
    background: var(--rojo);
    padding: 2vh;
    border-radius: 5px;
  }
  #header_iniciar_sesion {
    background: #181419;
    border-radius: 5px;
    font-size: 1rem;
    width: 14vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 14vw;
    min-height: 6vh;
    max-width: 14vw;
    max-height: 6vh;
    text-align: center;
  }

  /*MediaQuerie Parte_arriba*/
  .parte_arriba{
    height: 560px;
    background-image: linear-gradient(to right top, #0000008a, #0000008a),
      url(../assets/portadasPelis/garfield_fondo.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 0px;
    padding: 0px 0px;
  }
  .division_arriba{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 0vw;
    padding-top: 150px;
  }
  .parte_arriba img{ /*Imagen de Peli*/
    max-width: none;
    height: 42vh;
    display: inherit;
    min-height: 400px;
  }
  .info_peli{
    gap: 20px;
    text-align:left;
    padding: 0px 0px;
    margin-left: 150px;
  }
 
  /*MediaQuerie Parte_abajo*/
  .parte_abajo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap:30px;
  }
  .video_container{
    padding-top: 20px;
  }
  .video_avance{
    padding-top: 10px;
  }
  .redes_sociales{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 0 10px;
  }
  .redes_sociales a{
    color:var(--texto-blanco);
    text-decoration: none;
  }
  .loguitos{
    display: flex;
    justify-content:space-between;
    font-size: 40px;
    padding-bottom: 0vh;
    padding-top: 70px;
  }
  .info_titulo{
    padding-left: 15px;
    text-decoration:underline;
  }
  .info_tabla{
    border-collapse: separate;
    border-spacing: 15px;
    padding-bottom: 40px;
  }
  /* FIN de Parte de Abajo y del Main*/

}

